body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
nav {
    box-shadow: 0 10px 10px 0 #dddddd25;
}
#console {
    display: block;
    height: 500px;
    font-family: monospace;
    background-color: #fff;
    margin: auto 0;
    padding: 0;
    border-radius: .25em;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.45);
    line-height: 0;
}
#console-output span {
    display: block;
    line-height: 1.5rem;
    margin-left: 1em;
}
#console-output {
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    min-height: 90.25%;
    padding-top: 1%;
}
#console-output::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #00000030;
    box-shadow: inset 0 0 6px #00000030;
	border-radius: 10px;
	background-color: #F5F5F5;
}
#console-titlebar {
    box-shadow: 0 5px 5px 0 #eeeeee25;
}
#packsContainer {
    height: 77.5%;
}
.pack-info {
    display: inline-block;
    width: 25vw;
}
.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
.dot:nth-child(1) {
    background: #f00;
}
.dot:nth-child(2) {
    background: #ffa500;
}
.dot:nth-child(3) {
    background: #080;
}
.carousel.slide {
    height: 77.5%;
    border-radius: .25em;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.45);
}
.downloadPack-btn {
    margin: 10% 45%;
}