#console {
    display: block;
    height: 500px;
    font-family: monospace;
    background-color: #fff;
    margin: auto 0;
    padding: 0;
    border-radius: .25em;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.45);
    line-height: 0;
    width: 50%;
}
#console-output span {
    display: block;
    line-height: 1.5rem;
    margin-left: 1em;
}
#console-output {
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    height: 90.25%;
    padding-top: 1%;
}
#console-output::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #00000030;
    box-shadow: inset 0 0 6px #00000030;
	border-radius: 10px;
	background-color: #F5F5F5;
}
.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
.dot:nth-child(1) {
    background: #f00;
}
.dot:nth-child(2) {
    background: #ffa500;
}
.dot:nth-child(3) {
    background: #080;
}
  