<!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <% include ../partials/head_includes.ejs %>
        <title>SocketPE - Documentation</title>
      </head>
      <body>
    
        <% include ../partials/nav.ejs %>
                  
        <main>

        </main>
    
        <% include ../partials/scripts.ejs  %>
      </body>
    </html>
  </body>
</html>